@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
  transition: all ease .2s;
}

body {
  font-family: "Lexend Deca", sans-serif;
  /* background-color: #090616; */
  background-color: #090715;
  color: #ffffff;
}
.menu-container {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    padding: 0 5vw;
}
.menu-container div {
    width: 45vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.menu-container > img {
    max-width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner-container { 
    width: 100%;
    height: 70vh;
    padding-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 2vh;
    background-image: url(/images/banner.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
}
.banner-container > h1 { 
    font-size: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}
.banner-container > h2 { 
    font-size: 35px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}
.aboutme-container {
    width: 100%;
    min-height: 50vh;
    padding: 0 5vw;
    padding-top: 8vh;
}
.subcontainer-aboutme > div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 550px;
    height: 350px;
    font-size: 19px;
    line-height: 35px;
    text-align: center;
}
.subcontainer-aboutme > div > span > b{
    color: #7358fa;
    font-weight: 600;
}
.aboutme-container > h2{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 4px 0;
    padding-left: 18px;
    font-size: 31px;
    border-left: 8px solid rgb(46, 33, 112);
    font-weight: 500;
}
.subcontainer-aboutme {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10vh 0;
}
.subcontainer-aboutme img {
    max-height: 280px;
    max-width: 280px;
    border-radius: 500px;
    padding: 8px;
    border-top: 5px solid rgb(115, 88, 250);
    border-right: 5px solid #2e2170ff;
    border-bottom: 5px solid #2e2170ff;
    border-left: 5px solid rgb(115, 88, 250);
}
.projects-container {
    width: 100%;
    min-height: 50vh;
    padding: 0 5vw;
    padding-top: 12vh;
}
.project-showcase-container {
    display: flex;
    align-items: center;
    justify-content: left;  
    margin: 8vh 0; 
    column-gap: 2vw;
    overflow-x: hidden;
}
.project-showcase-container:hover div{
    animation-play-state: paused
}
.project-showcase-container a{
    text-decoration: none;
    color: inherit; /* Mantém a cor do texto igual ao que era antes */
}
@keyframes sliding {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc( 7 * (-100% - 2vw)));
    }
}
.projects-container > h2{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 4px 0;
    padding-left: 18px;
    font-size: 31px;
    border-left: 8px solid rgb(46, 33, 112);
    font-weight: 500;
}
.project-card {
    display: flex;
    align-items: center;
    justify-content: space-evenly;   
    width: 600px;
    height: 330px;
    background-color: #19113b7e;
    border-radius: 10px;
    padding: 4vh 0;
    animation: sliding 40s linear infinite;
    flex-shrink: 0;
    cursor: pointer;
}
.project-card img{
    width: 20%;
}
.project-card div{
    width: 65%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    row-gap: 3vh;
}
.project-card h3{
    font-size: 25px;
    font-weight: 600;
}
.project-card h4{
    font-size: 15px;
}
.contact-container {
    width: 100%;
    min-height: 80vh;
    padding: 0 5vw;
    padding-top: 8vh;
    background-image: url(/images/contact-banner.jpg);
    background-repeat: no-repeat;
    background-position: center center;
}
.contact-container > h2{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 4px 0;
    padding-left: 18px;
    font-size: 31px;
    border-left: 8px solid rgb(46, 33, 112);
    font-weight: 500;
}
.subcontainer-contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 6vh;
}
.form-container {
    width: 60%;
    height: 500px;
    display: flex;
    align-items: start;
    justify-content: center;
}
.form-container > form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 60%;
}
.form-container > form > label {
    width: 100%;
    height: 100%;
    pointer-events: none;
    font-size: 18px;
    color: rgb(255, 255, 255);
    padding-left: 16px;
}
.form-container > form > input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: none;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    font-size: 16px;
    padding: 16px 16px;
    border-radius: 4px;
    margin-top: 3px;
    margin-bottom: 23px;
}
.form-container > form > button {
    /* background-color: #6200ea; */
    color: #ffffff;
    padding: 16px 16px;
    font-size: 21px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    outline: none; 
    transform: translateZ(0);
    width: 100%;
    font-weight: 700;
    background-image: radial-gradient( circle farthest-corner at 32.7% 82.7%,  rgba(98, 0, 234, 1) 8.3%, rgba(49, 0, 181, 1) 79.4% );
    transition: background-position 0.3s;
    background-size: 200% 200%;
    background-position: right bottom;
    margin-top: 10px;
}
.form-container > form > button:hover {
    background-position: left top;
    transform: translateY(-.2vh);
}
.social-cotainer {
    width: 30%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: start;
    row-gap: 2vh;
    flex-direction: column;
}
.social-cotainer a{
    text-decoration: none;
    color: inherit;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-cotainer a > div {
    width: 80%;
    /* background-color: #6200ea; */
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    font-weight: 600;
    font-size: 16px;
    padding: 16px;
    cursor: pointer;
    background-image: radial-gradient( circle farthest-corner at 32.7% 82.7%,  rgba(98, 0, 234, 0.5) 8.3%, rgba(48, 0, 181, 0.5) 79.4% );
    transition: background-position 0.3s;
    background-size: 200% 200%;
    background-position: right bottom;
    background-clip:padding-box ;
    backdrop-filter: blur(15px);
    border-radius: 4px;
}
.social-cotainer a > div > img {
    max-width: 30px;
    color: red;

}
.social-cotainer a > div > span {
    display: flex;
    align-items: center;
    justify-content: left;
    min-width: 25%;
}
.social-cotainer a > div:hover {
    background-position: left top;
    transform: translateY(-.2vh);
    backdrop-filter: blur(150px);
}